body{
    background: linear-gradient(to bottom, white, #00bfff);
    font-size: 30px;
    text-align: center;
}

input{
    background-color: transparent;
    border: 2px solid white;
}

img{
width: 50%;
height: auto;
}